<div class="showcase-container">
  <div class="showcase-header">Textfield</div>
  <app-ui-textfield [id]="'showcase'" [value]="''" [placeholder]="'Enter text'"></app-ui-textfield>
</div>
<div class="showcase-container">
  <div class="showcase-header">Disabled textfield</div>
  <app-ui-textfield [id]="'showcase'" [value]="''" [placeholder]="'Enter text'" [disabled]="true"></app-ui-textfield>
</div>
<div class="showcase-container">
  <div class="showcase-header">Form field with Error</div>
  <app-ui-textfield [id]="'showcase'" [value]="''" [placeholder]="'Enter text'" [disabled]="false" [hasError]="true" [errorMessage]="'Has error'"></app-ui-textfield>
</div>