<div class="showcase-container">
  <div class="badge-showcase-text">Circle Small Badge<app-ui-badge [id]="'badge1'" [badgetext]="'1'" [size]="'small'" [color]="'#BA1A1A'"></app-ui-badge></div>
  <div class="badge-showcase-text">Circle Medium Badge<app-ui-badge [id]="'badge1'" [badgetext]="'1'" [size]="'medium'" [color]="'#BA1A1A'"></app-ui-badge></div>
  <div class="badge-showcase-text">Circle Large Badge<app-ui-badge [id]="'badge1'" [badgetext]="'1'" [size]="'large'" [color]="'#BA1A1A'"></app-ui-badge></div>
  <div class="badge-showcase-text">Rectangle Small Badge<app-ui-badge [id]="'badge1'" [badgetext]="'1'" [size]="'small'" [type]="'rectangle'" [color]="'#FFC107'"></app-ui-badge></div>
  <div class="badge-showcase-text">Rectangle Medium Badge<app-ui-badge [id]="'badge1'" [badgetext]="'1'" [size]="'medium'" [type]="'rectangle'" [color]="'#FFC107'"></app-ui-badge></div>
  <div class="badge-showcase-text">Rectangle Large Badge<app-ui-badge [id]="'badge1'" [badgetext]="'New'" [size]="'large'" [type]="'rectangle'" [color]="'#FFC107'"></app-ui-badge></div>
</div>
