@import "../app/assets/color";

.content {
  display: grid;
  grid-template-columns: 240px calc(100% - 240px);
  font-family: sans-serif;
  height: 100vh;
}
app-nav {
  padding: 16px 8px;
  height: calc(100vh - 32px);
  display: block;
  border-right: 1px solid $border-gray;
}
.component-container {
  padding: 20px;
}