<div class="showcase-container">
  <!-- <div class="showcase-header">Checkbox</div> -->
  <app-ui-checkbox [id]="'showcase'" [value]="'Vehicle1'" [label]="'Vehicle 1'" [checked]="false" (checkboxChange)="onCheckboxSelect($event)"></app-ui-checkbox>
</div>
<div class="showcase-container">
  <!-- <div class="showcase-header">Checkbox</div> -->
  <app-ui-checkbox [id]="'showcase'" [value]="'Vehicle2'" [label]="'Vehicle 2'" [checked]="false" (checkboxChange)="onCheckboxSelect($event)"></app-ui-checkbox>
</div>
<div class="showcase-container">
  <!-- <div class="showcase-header">Checkbox</div> -->
  <app-ui-checkbox [id]="'showcase'" [value]="'Vehicle3'" [label]="'Vehicle 3'" [checked]="false" (checkboxChange)="onCheckboxSelect($event)" [disabled]="true"></app-ui-checkbox>
</div>