@import "../../assets/color";

.ui-card {
  width: 100%;
  font-family: "Nunito", sans-serif;
  .ui-card-container {
    border-radius: 4px;
    width: 300px;
    padding: 20px;
    margin: 1px;
    background-color: $lighter-gray;
  }
  .ui-card-container:hover {
    margin: 0px;
    border-radius: 4px;
    border: 1px solid $border-gray;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
  }
  .ui-card-title {
    margin-top: 0;
  }
  .ui-card-description {
    font-size: 14px;
  }
}
