@import "../../assets/color";

.ui-textfield {

  input[type='text'],
  input[type='text']:focus-visible,
  input[type='text']:-webkit-autofill,
  input[type='text']:-webkit-autofill:hover,
  input[type='text']:-webkit-autofill:focus,
  input[type='text']:-webkit-autofill:focus-visible {
    outline: 0 !important;
  }

  input[type='text'] {
    border: 1px solid #c4c6d0;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    width: 30%;
  }

  input {
    &:disabled {
      background-color: $light-gray;
      cursor: not-allowed;
    }
  }

  .form-error {
    font-size: 12px;
    background-color: $alert-red;
    color: white;
    width: 30%;
    padding: 6px;
    border-radius: 3px;
  }

  .invalid {
    border: 1px solid $alert-red !important;
    color: $alert-red;
  }
}