@import "../../assets/color";
@import "../../assets/ui-form";

.ui-textfield {
  &-element {
    height: 38px;
    font-size: 14px;
    padding: 0 20px;
  }
  input[type='text'],
  input[type='text']:focus-visible,
  input[type='text']:-webkit-autofill,
  input[type='text']:-webkit-autofill:hover,
  input[type='text']:-webkit-autofill:focus,
  input[type='text']:-webkit-autofill:focus-visible {
    outline: 0 !important;
  }

  input[type='text'] {
    border: 1px solid $border-gray;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
  }

  input[type='text']:focus {
    border-bottom: 2px solid $primary-color;
  }

  input {
    &:disabled {
      background-color: $light-gray;
      cursor: not-allowed;
    }
  }

  .form-error {
    font-size: 12px;
    // background-color: $alert-red;
    color: $alert-red;
    width: 100%;
    padding: 6px;
    border-radius: 3px;
  }

  .invalid {
    border-bottom: 2px solid $alert-red !important;
    color: $alert-red;
  }

  &-wrapper {
    height: 40px;
    min-width: 200px;
    width: 212px;
  }
}